.nyx-page-<%=page.index%> {<% if (page.backgroundImage) { %>
    background: url(<%=page.backgroundImage%>) center center no-repeat;<% } %> <% if (page.backgroundColor) { %>
    background-color: <%=page.backgroundColor %>;<% } %>
}