#<%=widget.id%> {<% if (widget.backgroundImage) { %>
    background: url(<%=widget.backgroundImage%>) center center no-repeat;
    background-size: cover; <% } %> <% if (widget.backgroundColor) { %>
    background-color: <%=widget.backgroundColor %>;<% } %>
}