#<%=widget.id%> {<% if (widget.backgroundImage) { %>
    background: url(<%=widget.backgroundImage%>) center center no-repeat;<% } %> <% if (widget.backgroundColor) { %>
    background-color: <%=widget.backgroundColor %>;<% } %>
}