#<%=widget.id%> {<% if (widget.color) { %>
    color: <%=widget.color%>;<% } %> <% if (widget.fontSize) { %>
    font-size: <%=widget.fontSize%>px;<% } %> <% if (widget.fontWeight) { %>
    font-weight: <%=widget.fontWeight%>;<% } %> <% if (widget.textAlign) { %>
    text-align: <%=widget.textAlign%>;<% } %>
}