#<%=widget.id%> {<% if (widget.top) { %>
    top: <%=widget.top%>;<% } %> <% if (widget.bottom) { %>
    bottom: <%=widget.bottom %>;<% } %> <% if (widget.left) { %>
    left: <%=widget.left%>; <% } %> <% if (widget.right) { %>
    right: <%=widget.right %>; <% } %> <% if (widget.transformOrigin) { %>
    transform-origin: <%=widget.transformOrigin %>; <% } %> <% if (widget.align == 'center') { %>
    left: 50%;
    margin-left: -<%=Number.parseInt(widget.width) / 2%>%; <% } %> <% if (widget.verticalAlign == 'center') { %>
    top: 50%;
    margin-top: -<%=Number.parseInt(widget.height) / 2 / 0.5625%>%; <% } %> <% if (widget.align == 'justify') { %>
    width: 100%;
    left: 0; <% } %> <% if (widget.verticalAlign == 'justify') { %>
    height: 100%;
    top: 0; <% } %> <% if (widget.width) { %>
    width: <%=widget.width%>; <% } %> <% if (widget.height) { %>
    height: <%=widget.height%>; <% } %> <% if (widget.enterDuration) { %>
    -webkit-animation-duration: <%= widget.enterDuration / 1000 %>s;
    animation-duration: <%= widget.enterDuration / 1000 %>s; <% } %> <% if (widget.zIndex) { %>
    zIndex: <%=widget.zIndex %>;<% } %>
}
