html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul, ol, li {
    margin: 0;
    padding: 0;
}

.animated {
    -webkit-transform: translateZ(0);
}

.nyx-full-width {
    width: 100%;
}

.nyx-full-height {
    height: 100%;
}

.nyx-wrapper {
    overflow: hidden;
}

.nyx-page {
    display: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.nyx-animated-page {
    display: block;
    position: absolute;
    left: 0;
    z-index: 10;
}

.nyx-widget {
    position: absolute;
}

.nyx-widget.animated {
    display: none;
}

.nyx-slide-show {
    overflow: hidden;
}

.nyx-slide-show ul {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.nyx-slide-show li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.nyx-slide-show-prev, .nyx-slide-show-next {
    position: absolute;
    top: 50%;
    margin-top: -14px;
    width: 27px;
    height: 27px;
    background: url(../images/left.png) left center no-repeat;
    background-size: 27px 27px;
    z-index: 20;

    animation-duration: 2s !important;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 2s !important;
    -webkit-animation-iteration-count: infinite;
}

.preview .nyx-slide-show-prev, .preview .nyx-slide-show-next {
    width: 14px;
    height: 14px;
    margin-top: -7px;
    background-size: 14px 14px;
}

.nyx-slide-show-prev {
    left: 0;
}

.nyx-slide-show-next {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    right: 0;
}

.nyx-image {
    background: no-repeat center center;
    background-size: cover;
}

#nyx-audio-toggle-button {
    position: absolute;
    width: 27px;
    height: 27px;
    z-index: 50;
    background: url(../images/music.png) center center no-repeat;
    background-size: 27px 27px;
}

.preview #nyx-audio-toggle-button {
    width: 14px;
    height: 14px;
    background-size: 14px 14px;
}

#nyx-bottom-button {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -13px;
    width: 25px;
    height: 15px;
    background: url(../images/up.png) center center no-repeat;
    background-size: 25px 15px;
    z-index: 100;

    -webkit-animation-duration: 2s !important;
    -webkit-animation-iteration-count: infinite;
}

.preview #nyx-bottom-button {
    width: 13px;
    height: 7px;
    margin-left: -7px;
    background-size: 13px 7px;
}

.nyx-scrawl {
    width: 100%;
    height: 100%;
}

/* Nyx Animation */
@-webkit-keyframes nyxFlipOutUp {
    0% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }

    50% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    }

    100% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 180deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 180deg);
    }
}

@keyframes nyxFlipOutUp {
    0% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }

    50% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    }

    100% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 180deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 180deg);
    }
}

.nyxFlipOutUp {
    -webkit-animation-name: nyxFlipOutUp;
    animation-name: nyxFlipOutUp;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes nyxFlipInUp {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -180deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -180deg);
    }

    100% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
    }
}

@keyframes nyxFlipInUp {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -180deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -180deg);
    }

    100% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
    }
}

.nyxFlipInUp {
    -webkit-animation-name: nyxFlipInUp;
    animation-name: nyxFlipInUp;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes nyxFlipOutDown {
    0% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }

    50% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
    }

    100% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -180deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -180deg);
    }
}

@keyframes nyxFlipOutDown {
    0% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }

    50% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
    }

    100% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -180deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -180deg);
    }
}

.nyxFlipOutDown {
    -webkit-animation-name: nyxFlipOutDown;
    animation-name: nyxFlipOutDown;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes nyxFlipInDown {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 180deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 180deg);
    }

    50% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    }

    100% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
    }
}

@keyframes nyxFlipInDown {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 180deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 180deg);
    }

    50% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    }

    100% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
    }
}

.nyxFlipInDown {
    -webkit-animation-name: nyxFlipInDown;
    animation-name: nyxFlipInDown;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}


@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}

@-webkit-keyframes shrinkOutUp /* Safari and Chrome */ {
    from {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1)  translateY(0);
    }
    to {
        -webkit-transform: scale(0.5) translateY(-10%);
        transform: scale(0.5) translateY(-10%);
    }
}
@keyframes shrinkOutUp {
    from {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1)  translateY(0);
    }
    to {
        -webkit-transform: scale(0.5) translateY(-10%);
        transform: scale(0.5) translateY(-10%);
    }
}

.shrinkOutUp {
    transform-origin: 50% 0;
    -webkit-transform-origin: 50% 0;
    -webkit-animation: shrinkOutUp 2s linear infinite;
    animation: shrinkOutUp 2s linear infinite;
}

@-webkit-keyframes shrinkOutDown /* Safari and Chrome */ {
    from {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1)  translateY(0);
    }
    to {
        -webkit-transform: scale(0.5) translateY(10%);
        transform: scale(0.5) translateY(10%);
    }
}
@keyframes shrinkOutDown {
    from {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1)  translateY(0);
    }
    to {
        -webkit-transform: scale(0.5) translateY(10%);
        transform: scale(0.5) translateY(10%);
    }
}

.shrinkOutDown {
    transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    -webkit-animation: shrinkOutDown 2s linear infinite;
    animation: shrinkOutDown 2s linear infinite;
}

@-webkit-keyframes rollInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
        transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes rollInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
        transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.rollInLeft {
    -webkit-animation-name: rollInLeft;
    animation-name: rollInLeft;
}

@-webkit-keyframes lightSpeedInRight {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0) skewX(30deg);
        transform: translate3d(-100%, 0, 0) skewX(30deg);
        opacity: 0;
    }

    60% {
        -webkit-transform: skewX(-20deg);
        transform: skewX(-20deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: skewX(5deg);
        transform: skewX(5deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes lightSpeedInRight {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0) skewX(30deg);
        transform: translate3d(-100%, 0, 0) skewX(30deg);
        opacity: 0;
    }

    60% {
        -webkit-transform: skewX(-20deg);
        transform: skewX(-20deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: skewX(5deg);
        transform: skewX(5deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

.lightSpeedInRight {
    -webkit-animation-name: lightSpeedInRight;
    animation-name: lightSpeedInRight;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}